@{
    ViewData["Title"] = "Home Page";
    Layout = null;
    List<Pizza> pizzas = new List<Pizza>();
    Pizza margherita = new Pizza("Margherita", "Passata di pomodoro, Mozzarella", "https://www.finedininglovers.it/sites/g/files/xknfdk1106/files/fdl_content_import_it/margherita-50kalo.jpg", 6.50);
    Pizza quattroStagioni = new Pizza("4 Stagioni", "Passata di pomodoro, Mozzarella, Prosciutto cotto, Carcofini, Funghi, Pomodorini", "https://www.petitchef.it/imgupl/recipe/pizza-4-stagioni--449891p695427.jpg", 8.00);
    Pizza marinara = new Pizza("Marinara", "Passata di pomodoro, Aglio, Olio", "https://www.pizzarecipe.org/wp-content/uploads/2019/01/Pizza-Marinara.jpg", 5.50);
    Pizza prosciuttoFughi = new Pizza("Prosciutto e Funghi", "Passata di pomodoro, Mozzarella, Prosciutto cotto, Funghi", "https://i1.wp.com/www.piccolericette.net/piccolericette/wp-content/uploads/2019/10/4102_Pizza.jpg?resize=895%2C616&ssl=1", 7.50);
    pizzas.Add(margherita);
    pizzas.Add(quattroStagioni);
    pizzas.Add(marinara);
    pizzas.Add(prosciuttoFughi);

}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">La mia Pizzeria</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            @{
                foreach (Pizza pizza in pizzas)
                {
                    <div class="col">
                        <p>@pizza.Name</p>
                        <p>Ingredienti: @pizza.Overview.Substring()</p>
                        <div>
                            <img class="w-100" src="@pizza.Image" alt="@pizza.Name" />
                        </div>
                        <p>Prezzo: $@pizza.Price</p>
                    </div>
                }
            }
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>


